/* html,
 body {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
 }
*/
@media only screen and (max-width: 1280px) {
  body {
    background-color: white;
  }
}

@media only screen and (max-width: 768px) {
  body {
    background-color: #ccc;
  }
}

#welcome-section {
  height: 100%;
}

#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-link {
  color: white;
}

.navbar-brand {
  color: white;
}